// Original list sourced from https://github.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words
// This work is licensed under a Creative Commons Attribution 4.0 International License (http://creativecommons.org/licenses/by/4.0/)
[
  "2t1p",
  "2 tveyf 1 phc",
  "npebgbzbcuvyvn",
  "nynonzn ubg cbpxrg",
  "nynfxna cvcryvar",
  "nany",
  "navyvathf",
  "nahf",
  "ncrfuvg",
  "nefrubyr",
  "nff",
  "nffubyr",
  "nffzhapu",
  "nhgb rebgvp",
  "nhgbrebgvp",
  "onorynaq",
  "onol onggre",
  "onol whvpr",
  "onyy tnt",
  "onyy tenil",
  "onyy xvpxvat",
  "onyy yvpxvat",
  "onyy fnpx",
  "onyy fhpxvat",
  "onyyfnpx",
  "onatoebf",
  "onatohf",
  "oneronpx",
  "oneryl yrtny",
  "oneranxrq",
  "onfgneq",
  "onfgneqb",
  "onfgvanqb",
  "ooj",
  "oqfz",
  "ornare",
  "ornaref",
  "ornire pyrnire",
  "ornire yvcf",
  "ornfgvnyvgl",
  "orfgvnyvgl",
  "ovt oynpx",
  "ovt oernfgf",
  "ovt xabpxref",
  "ovt gvgf",
  "ovzobf",
  "oveqybpx",
  "ovgpu",
  "ovgpurf",
  "oynpx pbpx",
  "oybaqr npgvba",
  "oybaqr ba oybaqr npgvba",
  "oybjwbo",
  "oybj wbo",
  "oybj lbhe ybnq",
  "oyhr jnssyr",
  "oyhzcxva",
  "obyybpxf",
  "obaqntr",
  "obare",
  "obbo",
  "obbof",
  "obbgl pnyy",
  "oebja fubjref",
  "oeharggr npgvba",
  "ohxxnxr",
  "ohyyqlxr",
  "ohyyrg ivor",
  "ohyyfuvg",
  "ohat ubyr",
  "ohatubyr",
  "ohfgl",
  "ohgg",
  "ohggpurrxf",
  "ohggubyr",
  "pnzry gbr",
  "pnztvey",
  "pnzfyhg",
  "pnzjuber",
  "pnecrg zhapure",
  "pnecrgzhapure",
  "pubpbyngr ebfrohqf",
  "pvnyvf",
  "pvepyrwrex",
  "pyrirynaq fgrnzre",
  "pyvg",
  "pyvgbevf",
  "pybire pynzcf",
  "pyhfgreshpx",
  "pbpx",
  "pbpxf",
  "pbcebyntavn",
  "pbcebcuvyvn",
  "pbeaubyr",
  "pbba",
  "pbbaf",
  "pernzcvr",
  "phz",
  "phzzvat",
  "phzfubg",
  "phzfubgf",
  "phaavyvathf",
  "phag",
  "qnexvr",
  "qngr encr",
  "qngrencr",
  "qrrc guebng",
  "qrrcguebng",
  "qraqebcuvyvn",
  "qvpx",
  "qvyqb",
  "qvatyroreel",
  "qvatyroreevrf",
  "qvegl cvyybjf",
  "qvegl fnapurm",
  "qbttvr fglyr",
  "qbttvrfglyr",
  "qbttl fglyr",
  "qbttlfglyr",
  "qbt fglyr",
  "qbyprgg",
  "qbzvangvba",
  "qbzvangevk",
  "qbzzrf",
  "qbaxrl chapu",
  "qbhoyr qbat",
  "qbhoyr crargengvba",
  "qc npgvba",
  "qel uhzc",
  "qiqn",
  "rng zl nff",
  "rppuv",
  "rwnphyngvba",
  "rebgvp",
  "rebgvfz",
  "rfpbeg",
  "rhahpu",
  "snt",
  "snttbg",
  "srpny",
  "srypu",
  "sryyngvb",
  "srygpu",
  "srznyr fdhvegvat",
  "srzqbz",
  "svttvat",
  "svatreonat",
  "svatrevat",
  "svfgvat",
  "sbbg srgvfu",
  "sbbgwbo",
  "sebggvat",
  "shpx",
  "shpx ohggbaf",
  "shpxva",
  "shpxvat",
  "shpxgneqf",
  "shqtr cnpxre",
  "shqtrcnpxre",
  "shgnanev",
  "tnatonat",
  "tnat onat",
  "tnl frk",
  "travgnyf",
  "tvnag pbpx",
  "tvey ba",
  "tvey ba gbc",
  "tveyf tbar jvyq",
  "tbngpk",
  "tbngfr",
  "tbq qnza",
  "tbxxha",
  "tbyqra fubjre",
  "tbbqcbbc",
  "tbb tvey",
  "tbertnfz",
  "tebcr",
  "tebhc frk",
  "tlcfl",
  "t-spot",
  "t-fcbg",
  "theb",
  "unaq wbo",
  "unaqwbo",
  "uneq pber",
  "uneqpber",
  "uragnv",
  "ubzbrebgvp",
  "ubaxrl",
  "ubbxre",
  "ubeal",
  "ubg pney",
  "ubg puvpx",
  "ubj gb xvyy",
  "ubj gb zheqre",
  "uhtr sng",
  "uhzcvat",
  "vaprfg",
  "vagrepbhefr",
  "wnpx bss",
  "wnvy onvg",
  "wnvyonvg",
  "wryyl qbahg",
  "wrex bss",
  "wvtnobb",
  "wvttnobb",
  "wvttreobb",
  "wvmm",
  "whttf",
  "xvxr",
  "xvaonxh",
  "xvaxfgre",
  "xvaxl",
  "xaboovat",
  "yrngure erfgenvag",
  "yrngure fgenvtug wnpxrg",
  "yrzba cnegl",
  "yvirfrk",
  "ybyvgn",
  "ybirznxvat",
  "znxr zr pbzr",
  "znyr fdhvegvat",
  "znfgheongr",
  "znfgheongvat",
  "znfgheongvba",
  "zrantr n gebvf",
  "zvys",
  "zvffvbanel cbfvgvba",
  "zbat",
  "zbgureshpxre",
  "zbhaq bs irahf",
  "ze unaqf",
  "zhss qvire",
  "zhssqvivat",
  "anzoyn",
  "anjnfuv",
  "anmv",
  "arteb",
  "arbanmv",
  "avttn",
  "avttre",
  "avt abt",
  "avzcubznavn",
  "avccyr",
  "avccyrf",
  "afsj",
  "afsj vzntrf",
  "ahqr",
  "ahqvgl",
  "ahggra",
  "alzcub",
  "alzcubznavn",
  "bpgbchffl",
  "bzbenfuv",
  "bar phc gjb tveyf",
  "bar thl bar wne",
  "betnfz",
  "betl",
  "cnrqbcuvyr",
  "cnxv",
  "cnagvrf",
  "cnagl",
  "crqb",
  "crqborne",
  "crqbcuvyr",
  "crttvat",
  "cravf",
  "cubar frk",
  "cvrpr bs fuvg",
  "cvxrl",
  "cvffvat",
  "cvff cvt",
  "cvffcvt",
  "cynlobl",
  "cyrnfher purfg",
  "cbyr fzbxre",
  "cbalcynl",
  "cbbs",
  "cbba",
  "cbbagnat",
  "chanal",
  "cbbc puhgr",
  "cbbcpuhgr",
  "cbea",
  "cbeab",
  "cbeabtencul",
  "cevapr nyoreg cvrepvat",
  "cgup",
  "chorf",
  "chffl",
  "dhrns",
  "dhrrs",
  "dhvz",
  "enturnq",
  "entvat obare",
  "encr",
  "encvat",
  "encvfg",
  "erpghz",
  "erirefr pbjtvey",
  "evzwbo",
  "evzzvat",
  "ebfl cnyz",
  "ebfl cnyz naq ure 5 fvfgref",
  "ehfgl gebzobar",
  "fnqvfz",
  "fnagbehz",
  "fpng",
  "fpuybat",
  "fpvffbevat",
  "frzra",
  "frk",
  "frkpnz",
  "frkb",
  "frkl",
  "frkhny",
  "frkhnyyl",
  "frkhnyvgl",
  "funirq ornire",
  "funirq chffl",
  "furznyr",
  "fuvonev",
  "fuvg",
  "fuvgoyvzc",
  "fuvggl",
  "fubgn",
  "fuevzcvat",
  "fxrrg",
  "fynagrlr",
  "fyhg",
  "f&z",
  "f&m",
  "fzhg",
  "fangpu",
  "fabjonyyvat",
  "fbqbzvmr",
  "fbqbzl",
  "fcnfgvp",
  "fcvp",
  "fcybbtr",
  "fcybbtr zbbfr",
  "fcbbtr",
  "fcernq yrtf",
  "fchax",
  "fgenc ba",
  "fgencba",
  "fgenccnqb",
  "fgevc pyho",
  "fglyr qbttl",
  "fhpx",
  "fhpxf",
  "fhvpvqr tveyf",
  "fhygel jbzra",
  "fjnfgvxn",
  "fjvatre",
  "gnvagrq ybir",
  "gnfgr zl",
  "grn onttvat",
  "guerrfbzr",
  "guebngvat",
  "guhzomvyyn",
  "gvrq hc",
  "gvtug juvgr",
  "gvg",
  "gvgf",
  "gvggvrf",
  "gvggl",
  "gbathr va n",
  "gbcyrff",
  "gbffre",
  "gbjryurnq",
  "genaal",
  "gevonqvfz",
  "gho tvey",
  "ghotvey",
  "ghful",
  "gjng",
  "gjvax",
  "gjvaxvr",
  "gjb tveyf bar phc",
  "haqerffvat",
  "hcfxveg",
  "herguen cynl",
  "hebcuvyvn",
  "intvan",
  "irahf zbhaq",
  "ivnten",
  "ivoengbe",
  "ivbyrg jnaq",
  "ibenercuvyvn",
  "iblrhe",
  "iblrhejro",
  "iblhre",
  "ihyin",
  "jnax",
  "jrgonpx",
  "jrg qernz",
  "juvgr cbjre",
  "juber",
  "jbeyqfrk",
  "jenccvat zra",
  "jevaxyrq fgnesvfu",
  "kk",
  "kkk",
  "lnbv",
  "lryybj fubjref",
  "lvssl",
  "mbbcuvyvn",
  "🖕"
]
